// Button
$btn-color-1: #000;
$btn-color-2: #fff; // 미정
$btn-background: #3a86ff;
// $btn-background-2: #00c7af;

// // Chat
// $chat-background-1: #00c7af;
// $chat-background-2: #f7d060;
// $bg-color-1: #fff;
// $bg-color-2: #232323; // 미정
// $text-color-1: #000; // 미정
// $text-color-2: #fff; // 미정

// MBTI
$ISTJ-color-1: #b2a4ff;
// $ISTJ-color-2: #
$ISFJ-color-1: #ffb4b4;
// $ISFJ-color-2: #
$INTJ-color-1: #ffdeb4;
// $INTJ-color-2: #
$INFJ-color-1: #b4e4ff;
// $INFJ-color-2: #
$ISTP-color-1: #95bdff;
// $ISTP-color-2: #
$ISFP-color-1: #b5f1cc;
// $ISFP-color-2: #
$INFP-color-1: #ff7396;
// $INFP-color-2: #
$INTP-color-1: #b4ff9f;
// $INTP-color-2: #
$ESTP-color-1: #187498;
// $ESTP-color-2: #
$ESFP-color-1: #fbf46d;
// $ESFP-color-2: #
$ENFP-color-1: #ffdefa;
// $ENFP-color-2: #
$ENTP-color-1: #d83a56;
// $ENTP-color-2: #
$ESTJ-color-1: #867ae9;
// $ESTJ-color-2: #
$ESFJ-color-1: #f4f9f9;
// $ESFJ-color-2: #
$ENFJ-color-1: #ff9292;
// $ENFJ-color-2: #
$ENTJ-color-1: #a685e2;
// $ENTJ-color-2: #
